:root {
  --green_background: #025939;
  --green_shadow: #013220;
  --gray: #888888;
  --white: #ffffff;
}

html {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0 auto;
  text-align: center;
  font-family: 'Everson Mono Latin 6', sans-serif;
  font-size: 16px;
  font-weight: bold;
  background-color: var(--white);
  background-image: url("img/backgroundRotation.png");
  background-attachment: fixed;
  background-position: right top;
  background-repeat: repeat-y;
}

header {
  text-shadow: 0px 0px 3px var(--white);
  background-size: 400px 400px;
  padding-top: 0;
  margin-top: 0;
}

h2 {
  margin: 0;
}

#project_container {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  gap: 1rem;
  justify-content: center;
  margin: auto;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 375px;
  height: 375px;
  margin: 1rem;
  background-size: 450px 400px;
  background-image: url("img/side_triangles.jpg");
  border-radius: 32px;
  box-shadow: 0px 0px 6px var(--green_shadow);
  transition: height 0.5s;
  padding: 1rem;
  container-type: size;
}

.git_link {
  font-size: 24px;
  transition: opacity 0.3s linear;
  background-color: green;
  color: white;
  width: 100%;
  padding: 10px 0px 10px 0px;
  border-radius: 0px 0px 24px 24px;
  margin: 0;
  text-decoration: none;
  border: 1px solid;
  border-color: green;
}

.project_name {
  display: inline-block;
  color: white;
  background-color: green;
  width: 100%;
  padding: 10px 0px 10px 0px;
  border-radius: 24px 24px 0px 0px;
  border: 1px solid;
  border-color: green;
}

.project_image {
  padding: 0;
  margin: 0;
  min-height: 40%;
  min-width: 60%;
  box-shadow: 0px 0px 1px var(--green_shadow);
}

.project_description {
  text-shadow: 0px 0px 3px var(--white);
  transition: opacity 0.3s linear;
}

.project:hover {
  height: 375px;
}

.git_link:hover { 
  text-shadow: 0px 0px 2px black;
  border-color: var(--green_shadow);
}
.git_link:active { 
  background-color: var(--green_shadow)
}

#git_icon { 
  text-decoration: none;
  color: black;
}

